# OpenAutosar 代码风格 (基于 LLVM, 适配 AUTOSAR C 编码规范)
---
Language:        Cpp
BasedOnStyle:    LLVM
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
PointerAlignment: Right
SortIncludes:    false
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: true
...
